<template>
    <div class="container">
        <div class="col-md-6">
            <div class="card card-default">
                <img src="/images/file-alt-solid.svg" width="50px">

                <div class="card-body">
                    <h5>{{docName}}</h5>

                    <a :href="docUrl"><span class="fas fa-file-download" aria-hidden="true"></span>Download</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            docUrl: {
                default: ''
            },
            docName:{
                default:''
            },
        }
    }
</script>